html, body {
  width: 100%;
  margin: 0;
}

.main-header {

}

#navbar-container {
  width: 100vw;
  height: 60px;
  background: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-text {
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Copperplate Gothic Light', sans-serif;
  font-weight: bold;
}


.playerlist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100vw;
  border-spacing: 0 5px;
}

th, td {
  border-bottom: 1px solid black;
  width: auto;
}

th, tr {
  cursor: pointer;
}

td {
  text-align: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}

.search-container input {
  margin-left: 5px;
  font-size: 20px;
}

.selected {
  background-color: #808080;
  color: whitesmoke;
  font-weight: bold;
}

/************* Admin Page CSS **********************/
/*.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border: 1px solid blue;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

/************** PROFILE PAGE **********************/

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: blue;
  padding: 20px;
}

.profile-img-container {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.profile-img {
  min-height: 100%;
  min-width: 100%;
}

.profile-name {
  font-family: Impact, Charcoal, sans-serif;;
  font-size: 40px;
}

.myteam-salary {
  padding-left: 70px;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 30px;
}

.myteam-list .delete-player {
  visibility: hidden;
}

.myteam-list tr:hover .delete-player {
  visibility: visible;
  color: red;
}

tr:hover .delete-player  {
  visibility: : visible;
}


.teams-list-container {
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;*/
  width: 100vw;
  text-align: center;
}

.teams-list {
  width: 19vw;
  display: inline-block;
  margin: 20px 0 10px 0;
}

.team-info {
      display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.team-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/**************** discussion.html ***********************/

.discussion-container {
  display: flex;
  flex-direction: column;
}

.disc-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.disc-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  font-size: 24px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 20px;
  background-color: #4585BC;
  color: white;
}

.disc-thread {
  border: 1px solid black;
  margin-bottom: 1px;
  cursor: pointer;
}

.disc-thread-topic-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
}

.disc-thread-topic {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

.disc-thread-creator {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-style: italic;
}

.disc-comments-container {
  padding-left: 30px;
}

.disc-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.disc-heading {
  font-size: 30px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 95vw;
  margin-top: 20px;
}

.disc-topic {
  width: 94vw;
  height: 50px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid black;
  padding: 0;
  padding-left: 1vw;
}

.disc-topic:focus {
  outline: none;
}

textarea {
  resize: none;
  width: 94vw;
  height: 40vh;
  font-size: 20px;
  border: none;
  margin: 10px 0 0 1vw;
  padding: 0;
}

textarea:focus {
  outline: none;
}

.disc-submit-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 94vw;

}

.disc-submit-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  font-size: 24px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 20px;
  background-color: #4585BC;
  color: white;
}


/************ THREAD TOPIC PAGE *****************/

.thread-main {
  border: 1px solid black;
    width: 100vw;
}

.thread-topic-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid black;
  height: 50px;
}

.thread-topic {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}

.thread-creator {
  font-style: italic;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.thread-message {
  height: 100px;
  font-size: 22px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  margin: 5px 0 0 20px;
}

.reply-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0 10px 20px;
}

.reply-message {
  font-size: 20px;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.reply-name {
  font-style: italic;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.reply-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reply-textarea {
  resize: none;
  width: 94vw;
  height: 10vh;
  font-size: 20px;
  border: none;
  margin: 10px 0 0 1vw;
  padding: 0;
}


.disabled{
  opacity: 0.5;
  pointer-events: none;
}


