html, body {
  width: 100%;
  margin: 0;
}

.main-header {

}

#navbar-container {
  width: 100vw;
  height: 60px;
  background: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-text {
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Copperplate Gothic Light', sans-serif;
  font-weight: bold;
}


.playerlist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100vw;
  border-spacing: 0 5px;
}

th, td {
  border-bottom: 1px solid black;
  width: auto;
}

th, tr {
  cursor: pointer;
}

td {
  text-align: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}

.search-container input {
  margin-left: 5px;
  font-size: 20px;
}

.selected {
  background-color: #808080;
  color: whitesmoke;
  font-weight: bold;
}

/************* Admin Page CSS **********************/
.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border: 1px solid blue;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************** PROFILE PAGE **********************/

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: blue;
  padding: 20px;
}

.profile-img-container {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.profile-img {
  min-height: 100%;
  min-width: 100%;
}

.profile-name {
  font-family: Impact, Charcoal, sans-serif;;
  font-size: 40px;
}



.myteam-list .delete-player {
  visibility: hidden;
}

.myteam-list tr:hover .delete-player {
  visibility: visible;
  color: red;
}



tr:hover .delete-player  {
  visibility: : visible;
}