html, body {
  width: 100%;
  margin: 0;
}

.main-header {

}

#navbar-container {
  width: 100vw;
  height: 80px;
  background: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/************* Admin Page CSS **********************/
.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border: 1px solid blue;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}