<div class="playerlist-container">
  <table>
    <thead>
      <tr>
        <th>Player</th>
        <th>Salary</th>
        <th>Pos</th>
        <th>Team</th>
        <th>MP</th>
        <th>G</th>
        <th>GS</th>
        <th>FG%</th>
        <th>3P%</th>
        <th>Reb</th>
        <th>Stl</th>
        <th>Ast</th>
        <th>Blk</th>
        <th>TO</th>
        <th>PPG</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in Player.playerlist | filter: Player.query" ng-click="Player._handleClick($index)" ng-class="{'selected':$index == Player.selectedRow}">
         <td> {{ player.Player }} </td>
         <td> {{ player.SALARY }} </td>
         <td> {{ player.POS }} </td>
         <td> {{ player.TEAM }} </td>
         <td> {{ player.MP }} </td>
         <td> {{ player.G }} </td>
         <td> {{ player.GS }} </td>
         <td> {{ player.FGP }} </td>
         <td> {{ player['3PP'] }} </td>
         <td> {{ player.TRB}} </td>
         <td> {{ player.STL }} </td>
         <td> {{ player.AST }} </td>
         <td> {{ player.BLK }} </td>
         <td> {{ player.TO }} </td>
         <td> {{ player.PPG }} </td>
      </tr>
    </tbody>
  </table>
</div>