<div class="playerlist-container" ng-init="Player._handleData()">
  <table>
    <thead>
      <tr ng-click="Player._handleSort($event)">
        <th name="Player">Player</th>
        <th>SALARY</th>
        <th>POS</th>
        <th>TEAM</th>
        <th>MP</th>
        <th>G</th>
        <th>GS</th>
        <th>FG%</th>
        <th>FT%</th>
        <th>3P%</th>
        <th>TRB</th>
        <th>STL</th>
        <th>AST</th>
        <th>BLK</th>
        <th>TO</th>
        <th>PPG</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in Player.playerlist | orderBy: Player.category: Player.reverse | filter: Player.query" ng-click="Player._handleClick($index)" ng-class="{'selected':$index == Player.selectedRow}">
         <td> {{ player.Player }} </td>
         <td> {{ player.SALARY }} </td>
         <td> {{ player.POS }} </td>
         <td> {{ player.TEAM }} </td>
         <td> {{ player.MP }} </td>
         <td> {{ player.G }} </td>
         <td> {{ player.GS }} </td>
         <td> {{ player.FGP }} </td>
         <td> {{ player.FTP || 'N/A'}} </td>
         <td> {{ player['3PP'] }} </td>
         <td> {{ player.TRB}} </td>
         <td> {{ player.STL }} </td>
         <td> {{ player.AST }} </td>
         <td> {{ player.BLK }} </td>
         <td> {{ player.TO }} </td>
         <td> {{ player.PPG }} </td>
      </tr>
    </tbody>
  </table>
</div>