<div  class="playerlist-container">
  <table>
    <thead>
      <tr>
        <th>Player</th>
        <th>Salary</th>
        <th>Pos</th>
        <th>Team</th>
        <th>MP</th>
        <th>G</th>
        <th>GS</th>
        <th>FG%</th>
        <th>3P%</th>
        <th>Reb</th>
        <th>Stl</th>
        <th>Ast</th>
        <th>Blk</th>
        <th>TO</th>
        <th>PPG</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in Player.playerlist">
         <td> {{ player.Player }}   </td>
         <td> {{ player.SALARY }}   </td>
         <td> {{ player.POS }}      </td>
         <td> {{ player.TEAM }}     </td>
         <td> {{ player.MP }}       </td>
         <td> {{ player.G }}        </td>
         <td> {{ player.GS }}       </td>
         <td> {{ player.FGP }}      </td>
         <td> {{ player['3PP'] }}    </td>
         <td> {{ player.TRB}}       </td>
         <td> {{ player.STL }}     </td>
         <td> {{ player.AST }}     </td>
         <td> {{ player.BLK }}     </td>
         <td> {{ player.TO }}      </td>
         <td> {{ player.PPG }}     </td>
      </tr>
    </tbody>
  </table>

<!--   <div> {{ player.Player }} </div>
  <div> {{ player.SALARY }}</div>
  <div> {{ player.POS }}</div>
  <div> {{ player.TEAM }}</div>
  <div> {{ player.MP }}</div>
  <div> {{ player.G }}</div>
  <div> {{ player.GS }}</div>
  <div> {{ player.FGP }}</div>
  <div> {{ player['3PP'] }}</div>
  <div> {{ player.TRB}}</div>
  <div> {{ player.STL }}</div>
  <div> {{ player.AST }}</div>
  <div> {{ player.BLK }}</div>
  <div> {{ player.TO }}</div>
  <div> {{ player.PPG }}</div>
 -->
</div>